<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>

  <p>hey
<p>
  <div id="masthead">  
  <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h1><a href="/projects">Projects</a> > Project 1
            <p class="lead">1 participant</p>
          </h1>
        </div>
        <!--<div class="col-md-5">
            <div class="well well-lg"> 
              <div class="row">
                <div class="col-sm-6">
                  <img src="//placehold.it/180x100" class="img-responsive">
                </div>
                <div class="col-sm-6">
                  Some text here
                </div>
              </div>
            </div>
        </div>-->
      </div> 
  </div><!--/container-->
</div><!--/masthead-->

<!--button to create a participant-->
  <div class="control-group">
      <label class="control-label" for=""></label>
      <div class="controls" style="text-align:center">
        <a href="/create_participant" class="btn btn-primary">Create Participant</a>
      </div>
  </div>
<!-- a participant-->
  <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h2><a href="/realtime">Alice Ma</a>
            <p class="lead">20 Female Asian/Pacific Islander</p>
          </h2>
        </div>
      </div> 
  </div><!--/container-->

    <!-- Footer -->
    <footer>
      <% include ../partials/footer.ejs %>
    </footer>

</body>
</html>
