<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>

  <div id="masthead">  
  <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h1><a href="/projects">Projects</a> > Project 1</h1>
            <p class="lead">1 participant</p>
        </div>
      </div> 
  </div><!--/container-->
</div><!--/masthead-->

<!--button to show all data-->
  <div class="control-group">
      <label class="control-label" for=""></label>
      <div class="controls" style="text-align:center">
        <a href="/results_project" class="btn btn-default">View Data</a>
      </div>

      <label class="control-label" for=""></label>
      <div class="controls" style="text-align:center">
        <a href="/create_participant" class="btn btn-primary">Create Participant</a>
      </div>
  </div>

<!-- a participant-->
  <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h3><a href="/participant_page">Alice Ma</a></h3>
            <p class="lead">20 Female Asian/Pacific Islander</p>
          </h2>
        </div>
      </div> 
  </div><!--/container-->

    <!-- Footer -->
    <footer>
      <% include ../partials/footer.ejs %>
    </footer>

</body>
</html>
