<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <% include ../partials/headset.ejs %>

  <% function ELSPlugin(){ %>
    <% return document.getElementById('plugin0') %>
  <% } %>

</head>

<body>

  <% include ../partials/nav.ejs %>

  <!-- Embed video -->
  <div class="container">
    <div class="advideo">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="//www.youtube.com/embed/QweNsLesMrM"></iframe>
        </div>
      </div>
  </div> <!-- end block video -->

<script type="text/javascript">
// Load the Visualization API and the piechart package.
google.load('visualization', '1.0', {'packages':['corechart']});

// Set a callback to run when the Google Visualization API is loaded.
google.setOnLoadCallback(drawChart);

// Callback that creates and populates a data table,
// instantiates the pie chart, passes in the data and
// draws it.
function drawChart() {

  // Create the data table.
  var data = new google.visualization.DataTable();
  data.addColumn('string', 'Emotion');
  data.addColumn('number', 'Signal');
  data.addRows([
    ['Engagement', 3],
    ['Frustration', 1],
    ['Meditation', 1],
    ['Short-Term Excitement', 1],
    ['Long-Term Excitement', 2]
  ]);

  // Set chart options
  var options = {'title':'Brainwave Readings',
                 'width':400,
                 'height':300};

  var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
  chart.draw(data, options);

}

</script>


  <!--Div that will hold the pie chart-->
  <div id="chart_div"></div>

  <!-- Footer -->
  <footer>
    <% include ../partials/footer.ejs %>
  </footer>

</body>
</html>
