<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <% include ../partials/headset.ejs %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/graphs.css" />  
</head>

<body>

  <% include ../partials/nav.ejs %>

  <!-- Embed video -->
  <div class="container">
    <div class="advideo">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="//www.youtube.com/embed/QweNsLesMrM"></iframe>
        </div>
      </div>
  </div> <!-- end block video -->



  <!-- Footer -->
  <footer>
    <% include ../partials/footer.ejs %>
  </footer>

</body>
</html>
