<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <% include ../partials/headset.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <div class="container">

  </div>

  <!-- Footer -->
  <footer>
    <% include ../partials/footer.ejs %>
  </footer>

</body>
</html>