<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script type="text/javascript" src = "/js/dbPopulate.js"></script>
  
  <!--Load the AJAX API-->
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <div id="masthead">  
    <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h2><a href="/projects">Projects</a> > <a href="/participants"> Project 1</a> > Alice Ma > Start Trial</h2>
          </div>
    </div><!--/container-->
  </div><!--/masthead-->

  <div class="row">
    <button type="button" id="runNewTrial" name="runNewTrial" value="Run New Trial">Create New Trial</button>
  </div>

  <div class="control-group">
      <label class="control-label" for=""></label>
      <div class="controls" style="text-align:center">
        <a href="/run_test" class="btn btn-primary">Go to Trial</a>
      </div>
  </div>

  <!-- Footer -->
  <footer>
    <% include ../partials/footer.ejs %>
  </footer>

</body>
</html>