<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <h3> Test Started </h3>

  <div id="masthead">  
  <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h1>Your Test Video
            <p class="lead">Make sure the headset is callibrated.</p>
          </h1>
        </div>
        <div class="col-md-5">
            <div class="well well-lg"> 
              <div class="row">
                <div class="col-sm-6">
        	      	<img src="//placehold.it/180x100" class="img-responsive">
                </div>
                <div class="col-sm-6">
	              	Your video
                </div>
              </div>
            </div>
        </div>
      </div> 
  </div><!--/container-->
</div><!--/masthead-->

  <div class="control-group">
    <label class="control-label" for=""></label>
    <div class="controls" style="text-align:center">
      <a href="/realtime" class="btn btn-success">Begin Test</a>
    </div>
  </div>
    <!-- Footer -->
    <footer>
      <% include ../partials/footer.ejs %>
    </footer>

</body>
</html>
